.belownav{
    background-color:slategray;
    padding: 50px;
    height: 85vh;
    background-image: url("image/background/IMG_20210209_205953_414.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgrid{
    height: 250px;
    width: 300px;
    background-color: antiquewhite;
}