.belownav {
    background-color: slategray;
    height: 85vh;
    background-image: url("image/background/IMG_20210209_205953_414.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pttt{
    max-width: 360px;
}

iframe{
    scale: 80%;
    border-radius: 10px;
}

.imgrid {
    border: 2px solid brown;
    border-radius: 10px;
    background-color: antiquewhite;
}

