.belownav {
    background-color: slategray;
    height: 85vh;
    background-image: url("image/background/waiting_boy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pttt{
    max-width: 360px;
}

iframe{
    scale: 80%;
    max-width: 360px;
    border: 1px solid rgb(224, 199, 240);
    border-radius: 10px;
}

.imgrid {
    border: 2px solid brown;
    border-radius: 10px;
    background-color: antiquewhite;
}

